{% extends 'base.html.twig' %}

{% block title %}Mail{% endblock %}

{% block body %}
    <h1>Mail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ mail.id }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ mail.objet }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ mail.text }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_mail_index') }}" class="btn btn-secondary mt-2">retour a la liste</a>

    <a href="{{ path('app_mail_edit', {'id': mail.id}) }}" class="btn btn-warning">edit</a>

    {{ include('mail/_delete_form.html.twig') }}
{% endblock %}
