{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/e_commerce.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Produit index</h1>
    <input type="hidden" id="NomObjet" value="Produit">
    <input type="hidden" id="Url" value="{{ path('app_fetch_tableau') }}">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <td class="no-sort colloneTable"><input id="checkboxAll" type="checkbox" onchange="selectAll(this)"></td>
                <th>Id</th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Description</th>
                <th>Carousel</th>
                <th>Highlander</th>
                <th>Arriver</th>
                <th>Prioriter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td><input type="checkbox" onchange="selectOne()"></td>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.stock }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.carousel ? 'Yes' : 'No' }}</td>
                <td>{{ produit.highlander ? 'Yes' : 'No' }}</td>
                <td>{{ produit.arriver ? produit.arriver|date('Y-m-d') : '' }}</td>
                <td>{{ produit.prioriter }}</td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}" class="btn btn-primary">Créer un nouveau</a>
    <button id="btn-delete-row" style="display: none" onclick="deleteRows()" class="btn btn-danger">Supprimer</button>
{% endblock %}
