{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Carousel</th>
                <td>{{ produit.carousel ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Highlander</th>
                <td>{{ produit.highlander ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Arriver</th>
                <td>{{ produit.arriver ? produit.arriver|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Prioriter</th>
                <td>{{ produit.prioriter }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}" class="btn btn-secondary mt-2">retour a la liste</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}" class="btn btn-warning">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
