{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/e_commerce.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>
    <input type="hidden" id="NomObjet" value="Utilisateur">
    <input type="hidden" id="Url" value="{{ path('app_fetch_tableau') }}">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <td class="no-sort colloneTable"><input id="checkboxAll" type="checkbox" onchange="selectAll(this)"></td>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Tel</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Verified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td><input type="checkbox" onchange="selectOne()"></td>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.tel }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.getRolesString() }}</td>
                <td>{{ utilisateur.verified }}</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_new') }}" class="btn btn-primary">Créer un nouveau</a>
    <button id="btn-delete-row" style="display: none" onclick="deleteRows()" class="btn btn-danger">Supprimer</button>
{% endblock %}
