{% extends 'base.html.twig' %}

{% block title %}Ajouter index{% endblock %}

{% block body %}
    <h1>Ajouter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Qte</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ajouter in ajouters %}
            <tr>
                <td>{{ ajouter.id }}</td>
                <td>{{ ajouter.qte }}</td>
                <td>{{ ajouter.date ? ajouter.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_ajouter_show', {'id': ajouter.id}) }}">show</a>
                    <a href="{{ path('app_ajouter_edit', {'id': ajouter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ajouter_new') }}">Create new</a>
{% endblock %}
