{% extends 'base.html.twig' %}

{% block title %}Commande index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/e_commerce.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Commande index</h1>
    <input type="hidden" id="NomObjet" value="Commande">
    <input type="hidden" id="Url" value="{{ path('app_fetch_tableau') }}">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <td class="no-sort colloneTable"><input id="checkboxAll" type="checkbox" onchange="selectAll(this)"></td>
                <th>Id</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><input type="checkbox" onchange="selectOne()"></td>
                <td>{{ commande.id }}</td>
                <td>{{ commande.statut }}</td>
                <td>
                    <a href="{{ path('app_commande_show', {'id': commande.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_commande_edit', {'id': commande.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_commande_new') }}" class="btn btn-primary">Créer un nouveau</a>
    <button id="btn-delete-row" style="display: none" onclick="deleteRows()" class="btn btn-danger">Supprimer</button>
{% endblock %}
