{% extends 'base.html.twig' %}

{% block title %}Adresse index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/e_commerce.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Adresse index</h1>
    <input type="hidden" id="NomObjet" value="Adresse">
    <input type="hidden" id="Url" value="{{ path('app_fetch_tableau') }}">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <td class="no-sort colloneTable"><input id="checkboxAll" type="checkbox" onchange="selectAll(this)"></td>
                <th>Id</th>
                <th>Intitule</th>
                <th>Ville</th>
                <th>Region</th>
                <th>Code_postal</th>
                <th>Pays</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td><input type="checkbox" onchange="selectOne()"></td>
                <td>{{ adresse.id }}</td>
                <td>{{ adresse.intitule }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.region }}</td>
                <td>{{ adresse.codePostal }}</td>
                <td>{{ adresse.pays }}</td>
                <td>
                    <a href="{{ path('app_adresse_show', {'id': adresse.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_adresse_new') }}" class="btn btn-primary">Créer un nouveau</a>
    <button id="btn-delete-row" style="display: none" onclick="deleteRows()" class="btn btn-danger">Supprimer</button>
{% endblock %}
