{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block content %}


    <h3>{{ product.nom }}</h3>
    <hr>
    <div class="displayProduit">
        <div style="width: 800px;">
            Description : <br>
            {{ product.description }}<br><br>
            Prix : {{ product.prix }} €<br>
            {% if product.stock > 0 %}
                Stock : {{ product.stock }} produit(s)
            {% else %}
                <p>STOCK ÉPUISÉ</p>
            {% endif %}
            <br>
            Matérieux : <br>
            <ul>
                {% for comp in compose %}
                    <li>
                        {{ comp.materiaux.nom }}
                    </li>
                {% endfor %}
            </ul>
            {% if product.stock > 0 %}
                {{ form_start(formStock) }}
                {{ form_widget(formStock.nombre) }}
                {{ form_widget(formStock.submit) }}
                {{ form_end(formStock) }}
            {% endif %}
        </div>
        <div class="d-flex justify-content-center carouselProduit">
            <div id="carouselIndicators" class="carousel slide" style="width: 450px;height: 300px"
                 data-bs-ride="carousel"
                 data-bs-interval="3000">
                <!-- Indicateurs de la diapositive -->
                <ol class="carousel-indicators">
                    {% set i=0 %}
                    {% for carousel in images %}
                        {% if i == 0 %}
                            <li data-bs-target="#carouselIndicators" data-bs-slide-to={{ i }} class="active"></li>
                        {% else %}
                            <li data-bs-target="#carouselIndicators" data-bs-slide-to={{ i }}></li>
                        {% endif %}
                        {% set i = i+1 %}
                    {% endfor %}
                </ol>

                <!-- Slides -->
                <div class="carousel-inner">
                    {% set i=0 %}
                    {% for carousel in images %}
                        {% if i == 0 %}
                            <div class="carousel-item active">
                                <img src="{{ asset(carousel.url) }}" class="d-block w-100 imageCarousel" alt={{ i }}>
                            </div>
                        {% else %}
                            <div class="carousel-item">
                                <img src="{{ asset(carousel.url) }}" class="d-block w-100 imageCarousel" alt={{ i }}>
                            </div>
                        {% endif %}
                        {% set i = i+1 %}
                    {% endfor %}
                </div>

                <!-- Boutons de contrôle -->
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </a>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <div class="row">
        <h1>Similaires</h1>
        {% for produits in similaires %}
            <article class="col-4 mb-4">
                <div class="card">
                    <h2 class="card-header">
                        {{ produits.nom }}
                    </h2>
                    <div class="card-body article_contenu">
                        {{ produits.description }}
                    </div>
                    <footer class="card-footer d-flex justify-content-between">
                        <a href="{{ path('shop_index', {'id': produits.id}) }}">Cliquer ici pour voir le produit</a>
                        <h5 class="mt-2">{{ produits.prix }} €</h5>
                    </footer>
                </div>
            </article>
        {% endfor %}
    </div>

{% endblock %}
