{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
    <script src="{{ asset('js/e_commerce.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Image index</h1>
    <input type="hidden" id="NomObjet" value="Image">
    <input type="hidden" id="Url" value="{{ path('app_fetch_tableau') }}">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <td class="no-sort colloneTable"><input id="checkboxAll" type="checkbox" onchange="selectAll(this)"></td>
                <th>Id</th>
                <th>Url</th>
                <th>Principal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td><input type="checkbox" onchange="selectOne()"></td>
                <td>{{ image.id }}</td>
                <td>{{ image.url }}</td>
                <td>{{ image.principal ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_image_edit', {'id': image.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_new') }}" class="btn btn-primary">Créer un nouveau</a>
    <button id="btn-delete-row" style="display: none" onclick="deleteRows()" class="btn btn-danger">Supprimer</button>
{% endblock %}
