{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/script.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Image index</h1>

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Principal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.url }}</td>
                <td>{{ image.principal ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_image_show', {'id': image.id}) }}" class="btn btn-info">show</a>
                    <a href="{{ path('app_image_edit', {'id': image.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_new') }}" class="btn btn-primary">Créer un nouveau</a>
{% endblock %}
