{% extends 'base.html.twig' %}

{% block title %}Image{% endblock %}

{% block body %}
    <h1>Image</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ image.url }}</td>
            </tr>
            {% if image.principal == 0 %}
                <tr>
                    <th>Principal</th>
                    <td>False</td>
                </tr>
            {% else %}
                <tr>
                    <th>Principal</th>
                    <td>True</td>
                </tr>
            {% endif %}
            <tr>
                <th>Produit</th>
                <td>{{ image.produit }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ image.categorie }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img width="200px" src="{{ asset(image.url) }}"/> </td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_image_index') }}" class="btn btn-secondary mt-2">retour a la liste</a>

    <a href="{{ path('app_image_edit', {'id': image.id}) }}" class="btn btn-warning">edit</a>

    {{ include('image/_delete_form.html.twig') }}
{% endblock %}
